.home-button {
    padding-top: 50%;
  margin: 20px 0;
  
}

.back-button {
  padding: 10px 15px;
  background-color: #11d06d;
  padding-bottom: 30px;
  text-decoration-color: aliceblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.detail-view{
    padding-bottom: 30px;
    padding: 20px;
    
    
}
