.card {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 16px;
  margin: 16px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5em;
  margin: 0;
}
.card p {
  font-size: 1em;
  color: #555;
}